body{
    background-image: url(img/stardust.png);
    margin: 0 auto;
    color: #FFEFD1;
    font-family: 'Quicksand', sans-serif;
    
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 150px;
    justify-content: center;
}
.myinfo{
    width: 20%;
    background-color: lightcoral;
    margin-right: 5%;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}
.competences{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    background-color: lightsalmon;
    height:max-content;
    margin-bottom: 200px;
    
}

.mytext{
    width: 100%;
    padding: 30px;
    text-align: justify;
    font-size: 1.4em;
    
    
}
.infoPerso{
    width: 50%;
    text-align: left;
    border-top: 2px solid lightcoral;
    
    
}
.langue{
    width: 50%;
    text-align: center;
    border-top: 2px solid lightcoral;
}
.skill{
    width: 100%;
}
.work{
    width: 100%;
}
.education{
    width: 100%;
}
.interest{
    width: 100%;
}









/*   SIDE BAR DESIGN ************************ */

.myinfo>img{
    width: 60%;
    border-radius: 50% 50% / 50% 50%;
    margin-left: auto;
    margin-right: auto;
}
.name{
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    width: 100%;
}

.job{
    font-size: 1.8em;
    text-align: center;
    margin-top: 0;
    width: 100%;
}



.icon{
    width: 50%;
    
    height: 20%;
    background-image: url(img/icon/link.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50% 50% / 50% 50%;
    margin: 0 auto;
}
.icon2{
    width: 50%;
    
    height: 20%;
    background-image: url(img/icon/git.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50% 50% / 50% 50%;
    margin: 0 auto;
}

/* ************* FIN SIDE BAR ************************* */ 



/* FLEX DES DONNES PERSO ***************** */

.ulflex{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.ulflex>li{
    width: 40%;
    text-decoration: none;
    font-size: 1.1em;
}

.langue>.ulflex>li{
    width: 99%;
    border: 1px solid black;
}